section.pink > article {
  background: url('../images/site/pink_sheet.jpg') no-repeat center center fixed;
  background-size: contain;
}

section.white > article {
  background: url('../images/site/white_list.jpg') no-repeat center center fixed;
  background-size: contain;
}

section.xmas > article {
  background: url('../images/site/christmas_list.jpg') no-repeat center center fixed;
  background-size: contain;
}
