.after_login footer {
	/*display: block;*/
	grid-column: 1 / span 3;
	grid-row: 3;
}

footer > p {
	font-family: 'Arima Madurai';
	background-color: lightgrey;
	margin: 0;
}

.before_login footer {
  grid-column: 1/ span 3;
  grid-row: 4;
  align-self: end;
}
.register footer {
    /* display: block; */
    grid-row: 3;
}
