html {
   margin: 0px;
   height: 100%;
   width: 100%;
   overflow: auto;
}

body.after_login {
  margin: 0px;
  min-height: 100%;
  max-height: 100vh;
  min-width: 35em;
  width: 100%;
  font-family: 'Arima Madurai';
  background: url('../images/site/white_background.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: grid;
	grid-template-columns: 70% 10% 20%;
	grid-template-rows: 20% 1fr auto;
  overflow-x: hidden;
  overflow-y: hidden;
}

body.pink {
  background: url('../images/site/pink_background.jpg') no-repeat center center fixed;
}

body.white {
  background: url('../images/site/white.jpg') no-repeat center center fixed;
}

header.after_login a {
  color: inherit;
}

header.after_login {
  background-image: url('../images/site/todo_logo.png'), linear-gradient(#CACACA, #FAFDFF);
  background-repeat: no-repeat, no-repeat;
  background-size: 200px, auto;
  background-position:200px 0, 0 0;
	justify-items: start;
	align-items: start;
	grid-column: 1;
	grid-row: 1;
}

header.after_login div {
  margin: 20px;
  width: 200px;
}

header.after_login div * {
  margin-bottom: -20px;
}

header.register a {
  color: inherit;
}

header.register {
  background-image: url('../images/site/todo_logo.png'), linear-gradient(#CACACA, #FAFDFF);
  background-repeat: no-repeat, no-repeat;
  background-size: 200px, auto;
  background-position:200px 0, 0 0;
	justify-items: start;
	align-items: start;
	/*grid-column: 1;
	grid-row: 1;*/
}

header.register div {
  margin: 20px;
}

header.register div * {
  margin-bottom: -20px;
}

body.register {
  margin: 0px;
  min-height: 100%;
  max-height: 100vh;
  width: 100%;
  font-family: 'Arima Madurai';
  background: url('../images/site/white_background.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: grid;
	grid-template-columns: auto;
	grid-template-rows: 20% 1fr auto;
  /*overflow-x: hidden;
  overflow-y: hidden;*/
}

#notify.visible input[type="checkbox"] + label {
  display: block;
  width: 16px;
  height: 16px;
  background-image: url('../images/site/bell.png');
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}
#notify.visible input[type="checkbox"]:checked + label {
  display: block;
  width: 16px;
  height: 16px;
  background-color: black;
}
#notify.visible input[type="checkbox"]:checked ~ div#notify_popup {
  display: block;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: visible;
  opacity: 1;
  margin: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
div#notify_popup .popup{
  margin: auto auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  height: 40%;
  transition: all 5s ease-in-out;
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
}
div#notify_popup .popup .content {
	width: auto;
  height: 30em;
  overflow: auto;
  max-height: none;
}
#notify.visible {
  display: block;
}
#notify.visible input{
  display: none;
}
#notify.invisible {
  display:none;
}
#notify_popup {
  display:none;
}
