#edit_profile {
	margin-left: 2em;
	max-width: 30em;
	min-width: 30em;
}

#edit_profile form {
	display: flex;
	flex-direction: column;
}

#edit_profile form > label {
	display: flex;
	align-items: center;
}

#edit_profile form label > input {
	flex-grow: 1;
	max-height: 2em;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 1em;
}

#edit_profile form > input {
	margin-top: 2em;
	width: 5em;
	text-align: center;
}
