#list_unique .id {
  display: none;
}
#list_unique {
  display: block;
  margin: 1em auto;
  grid-column: 1 / 4;
	grid-row: 2 / 3;
}
#list_unique > article {
	border: 2px solid black;
	border-radius: 5px;
	padding: 1em;
  position: relative;
}

#list_unique > article > h1 {
	text-align: center;
}

#list_unique > article > ul {
  margin-bottom: 0;
  max-height: 45vh;
  overflow-y: scroll;
}

#list_unique > article > input {
  position: absolute;
	margin: 10px;
	width: 1.5em;
	height: 1.5em;
	right: 0;
  top: 0;
	background-image: url('../images/site/X.png');
	background-repeat: no-repeat;
	background-size: cover;
	cursor: pointer;
}

#list_unique > article > #new_item {
  padding-left: 40px;
  background-color: grey;
}
#list_unique > article > #new_item > input[type=submit] {

}
#list_unique span.delete a:before {
  content: 'X';
  color: white;
  background-color: black;
}
