#list_unique .id {
  display: none;
}
#list_unique {
  display: block;
}
#list_unique > article {
  display: block;
	margin: 1em auto;
	border: 2px solid black;
	border-radius: 5px;
}

#list_unique > article > a > h3 {
	text-align: center;
	grid-column: 1;
	grid-row: 1;
}

#list_unique > article > ul {
	align-self: start;
	grid-column: 1;
	grid-row: 2;
}
