body {
	display: grid;
	grid-template-columns: 70% 10% 20%;
	grid-template-rows: 20% 80% 1em;
}

header {
	background-image: url('../images/site/logo.jpg');
	justify-items: start;
	align-items: start;
	grid-column: 1;
	grid-row: 1;
}

#user {
	margin: 0;
	grid-column: 2 / 4;
	grid-row: 1;

	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-rows: auto 1em 1em 1em;
	align-items: end;
}

#user h6, a {
	margin: 0;
	text-decoration: none;
	justify-self: end;

	grid-column: 1;
}

#user > div {
	grid-row: 1;
}

#user > h6 {
	grid-row: 2;
}

#user > a:nth-child(1) {
	grid-row: 3;
}

#user > a:nth-child(2) {
	grid-row: 4;
}

#user img {
	margin: 0;
	align-self: end;
	grid-column: 2;
	grid-row: 1 / 5;
}

#lists {
	margin: 0;
	grid-column: 1 / 2;
	grid-row: 2 / 3;
}

footer {
	grid-column: 1 / 4;
	grid-row: 3 / 4;
}
