/*body {
	height: 100vh;
	margin: 0;
	display: grid;
	grid-template-columns: 70% 10% 20%;
	grid-template-rows: 20% 1fr 1em;
}

header {
	background-image: url('../images/site/logo.jpg');
	justify-items: start;
	align-items: start;
	grid-column: 1;
	grid-row: 1;
}*/


#after_login {
	margin: 0;
	grid-column: 2 / 4;
	grid-row: 1;
	background-color: rgb(189, 204, 255);

	display: grid;
	grid-template-columns: auto auto;
	grid-column-gap: 15px;
	grid-template-rows: auto 1em 1em 1em;
	align-items: end;
}

#after_login p, a {
	margin: 0;
	text-decoration: none;
	justify-self: end;

	grid-column: 1;
}


#after_login p {
	grid-row: 2;
}

#after_login a:nth-of-type(1) {
	grid-row: 3;
}

#after_login a:nth-of-type(2) {
	grid-row: 4;
}

#after_login > img {
	margin: 0;
	align-self: end;
	grid-column: 2 / 3;
	grid-row: 1 / 4;
}

#lists {
	margin: 0;
	/*display: flex;*/
	justify-content: start;
	/*flex-flow: row wrap;*/
	grid-column: 1;
	grid-row: 2;
}

#lists > article {
	background-color: lightblue;
	display: inline-grid;
	width: 12em;
	/*flex: 1;*/
	margin: 1em;
	border: 0px solid darkblue;
	border-radius: 2px;

	grid-template-rows: 4em auto;
}

#lists > article:hover {
	background-color: lightskyblue;
}

#lists > article > a {
	grid-column: 1;
	grid-row: 1;
	justify-self: center;
	align-self: center;
	text-align: center;
}

#lists > article > ul {
	align-self: start;
	grid-column: 1;
	grid-row: 2;
}

#lists > article li {
	/*list-style-type: decimal;*/
	color: green;
}

#sidebar {
	grid-column: 3;
	grid-row: 2;
}

#sidebar #NewList #NewListName, #sidebar #NewList > input{
	display: none;
}
#sidebar #NewList #CheckNewList:checked ~ #NewListName{
	display: block;
}

footer {
	display: block;
	grid-column: 1 / 4;
	grid-row: 3 / 4;
}

footer > p {
	background-color: lightgrey;
	margin: 0;
}
