#projectArea {
  grid-column: 1 / 4;
	grid-row: 2 / 3;
  /*display: flex;*/
}
#projectArea .project_header > *{
  display: flex;
 justify-content: center;
}
#projectArea .id {
  display: none;
}
#projectArea .scroll_section {
  /*height: 60vh;*/
  display: flex;
  flex-flow: row wrap;
  overflow: auto;
}

#projectArea .container {
  display: flex;
  flex-direction: row;
  min-height: 0;
}

#projectArea .container > * {
  flex-grow: 1;
  min-height: 0;
}
