#setOfLists .id {
  display: none;
}
#setOfLists {
  display: block;
  margin: 1em 0;
  grid-column: 1 / 4;
	grid-row: 2 / 3;
}
#setOfLists > article {
	border: 2px solid black;
	border-radius: 5px;
	padding: 1em;
  position: relative;
  height: 90%;
  width: 20%;
  margin: auto
}

#setOfLists > article > h1 {
	text-align: center;
}

#setOfLists > article > ul {
  margin-bottom: 0;
  max-height: 40vh;
  overflow-y: auto;
}
#setOfLists > article > ul input{
  float: right;
}

#setOfLists > article > input {
  position: absolute;
	margin: 10px;
	width: 1.5em;
	height: 1.5em;
	right: 0;
  top: 0;
	background-image: url('../images/site/X.png');
	background-repeat: no-repeat;
	background-size: cover;
	cursor: pointer;
}

#setOfLists > article > #new_item {
  height: 100px;
  margin-top: 30px;
  width: 90%;
  position: absolute;
  bottom: 5%;
  background-color: #e0e0e0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /*align-items: center;*/
}
#setOfLists > article > #new_item > div {
  height: auto;
  display: flex;
}
#setOfLists > article > #new_item > input[type=text] {
  width: auto;
  height: 3em;
}
#setOfLists > article > #new_item > div > label {
  flex-grow: 1;
}

#setOfLists > article > #new_item > div > input[type=submit] {
	background-image: url('../images/site/plus.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  color: rgba(0, 0, 0, 0);
  width: 30%;
  height: auto;
  padding: 0;
  margin: 8px 8px;
}
#setOfLists span.delete a:before {
  content: 'X';
  color: white;
  background-color: black;
}
