#projectArea {
  grid-column: 1 / 4;
	grid-row: 2 / 4;
  display: block;
}
#projectArea .project_header > *{
  display: flex;
 justify-content: center;
}
#projectArea .id {
  display: none;
}
#projectArea .container {
  display: flex;
  flex-flow: row wrap;
}

#projectArea .container > *{
  max-height: 500px;
  overflow: scroll;
}
