/*#user {
  margin: 0 auto;
  width: 20em;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}
#user h1{
  display: none;
}
#user a{
  color: black;
  background-color: #d6d6d6;
  display: block;
  text-decoration: none;
  margin: 0 auto;
  padding: 0 10%;
  width: 5em;
  text-align: center;
}
#user h6{
  display: block;
  margin: 0 auto;
  text-align: center;
}
#user img{
  display: block;
  margin: 0 auto;
}
#user label{
  display: block;
  padding: 1em 2em 0;
}
#user form div > input{
  display: block;
  margin: 1em auto;
  border: 0;
  padding: 1em;
  width: 20em;
}
// VAMOS TER TE ALTERA TODO
header {
  background-image: url('../images/site/logo.jpg');
  margin: 0 auto;
  width: 20em;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}
body {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto auto auto;
}
#lists {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  display: flex;
}
.list{
  background-color: grey;
  margin: .5em;
  padding: 1em;
}
.list h1{
  text-align: center;
}
footer {
  grid-column: 1 / 3;
  grid-row: 3 / 4;
}
*/
