@import url(https://fonts.googleapis.com/css?family=Amatic+SC);
@import url(https://fonts.googleapis.com/css?family=Arima+Madurai);
@import url(https://fonts.googleapis.com/css?family=Alegreya+SC);
@import url(https://fonts.googleapis.com/css?family=Arizonia);

.link {
  font-family: 'Amatic SC';
  font-size: 17px;
  font-weight: bold;
  text-align:center;
  text-decoration: none;
}

/* unvisited link */
.link:link {
    color: rgb(75, 182, 182);
}

/* visited link */
.link:visited {
    color: rgb(75, 182, 182);
}

/* mouse over link */
.link:hover {
    color: rgb(171, 195, 249);
}

/* selected link */
.link:active {
    color: rgb(75, 182, 182);
}

.input_text {
  font-family: 'Amatic SC';
  font-size: 22px;
  color: black;
  text-align:center;
  font-weight: bold;
}

.title_text {
  font-family: 'Arima Madurai';
  text-align: center;
  color: black;
  text-shadow: 0 0 3px #FEFFCE, 0 0 5px #FFFFEB;
}

.title_link {
  font-family: 'Arima Madurai';
  text-align: center;
  font-size: 1vw;
  color: black;
  font-weight: bold;
}

.normal_text {
  font-family: 'Amatic SC';
  font-size: 25px;
  color: black;
}

.strikeout {
	text-decoration: line-through;
}

input[type=text], input[type=email], input[list=countries], select {
  width: 50%;
  padding: 10px;
  margin: 8px 8px;
  box-sizing: border-box;
  border: 2px ridge rgb(75, 182, 182);
  border-radius: 5px;
  background-color: rgb(171, 195, 249);
  color: rgb(75, 182, 182);
}
input[type=text].pink {
  background-color: rgb(219, 165, 155);
  border: 2px ridge rgb(156, 152, 104);
  color: rgb(156, 152, 104);
}
input[type=text].white {
  background-color: rgb(239, 239, 239);
  border: 2px ridge rgb(71, 71, 71);
  color: rgb(71, 71, 71);
}
input[type=text].xmas {
  background-color: #F0687A;
  border: 2px ridge #D1273E;
  color: black;
}

input[type=text]:focus {
    box-shadow: 0px 0px 20px rgb(75, 182, 182);
}
input[type=text].pink:focus {
    box-shadow: 0px 0px 20px rgb(156, 152, 104);
}
input[type=text].white:focus {
    box-shadow: 0px 0px 20px rgb(71, 71, 71);
}
input[type=text].xmas:focus {
    box-shadow: 0px 0px 20px #D1273E;
}

input[type=password]:focus {
    box-shadow: 0px 0px 20px rgb(75, 182, 182);
}

input[type=password] {
  width: 50%;
  padding: 10px;
  margin: 8px 8px;
  box-sizing: border-box;
  border: 2px ridge rgb(75, 182, 182);
  border-radius: 5px;
  background-color: rgb(171, 195, 249);
  color: rgb(75, 182, 182);
}

input:invalid {
  box-shadow: 0px 0px 20px rgb(255, 0, 0);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus
input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: rgb(75, 182, 182);
  -webkit-box-shadow: 0 0 0 50px rgb(171, 195, 249)inset;
}

input[type=submit] {
    background-color: #FFFFFF;
    border: 2px solid #A0A0A0;
    color: #A0A0A0;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-family: 'Amatic SC';
    font-weight: bold;
    padding: 10px 20px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #A0A0A0;
    color: white;
    border-radius: 10px;
}

/*Input range Priority*/

input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  margin: 0;
  background: transparent;
}
/*Barra*/
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 40%;
  cursor: pointer;
  background-image: linear-gradient(to right, green, yellow, red);
  border-radius: 3px;
  border: 1px solid black;
}
/*Retangulo que desliza*/
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px gray, 0px 0px 1px gray;
  border: 1px solid black;
  height: 2em;
  width: 16px;
  border-radius: 3px;
  background: white;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -1em;
}

.priority1 {
  color: green;
}
.priority2 {
  color: yellow;
}
.priority3 {
  color: red;

}
